@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.animate-scroll-up {
  animation: scroll-up 5s ease-in-out;
}
